<li>
	{{burger_name}}

	{{!-- <button class="change-state" data-id="{{id}}" data-newstate="{{devoured}}">
		{{#if devoured}}Yum!{{else}}Eat Me!{{/if}}
	</button> --}}

	<button class="change-state" data-id="{{id}}" data-newstate="{{devoured}}">DEVOUR!</button>
</li>
